/*! Responsive Styles */

@media only screen and (min-width: 768px) {
  html {
    font-size: 20px;
  }
  .container, .footer, .nav {
    max-width: 32rem;
  }
}

@media only screen and (min-width: 1200px) {
  .container, .footer, .nav {
    max-width: 38rem;
  }
}

@media only screen and (max-width: 768px) {
  pre {
    max-height: 500px;
    font-size: 0.8rem;
    code {
      font-size: 0.8rem;
    }
  }
  .post-list-date {
    float: none;
    margin-left: 0;
  }
  .post-list-desc {
    padding-right: 0;
  }
}
